[package]
name = "bfirs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#clap = "2.33"
thiserror = "1.0"


[profile.release-lto]
inherits = "release"
lto = "thin"
strip = "symbols"
